<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,user-scalable=no"
    />
    <meta name="csrf_token" content="{{.csrf}}" />
    {{ vite_render "src/main.ts"}}
    <title>{{.title}}</title>
    <script lang="javascript">
      window.isDev = {{.isDev}}
      window.csrf_token = "{{.csrf}}"
    </script>
  </head>
  <body>
    <div id="app"></div>
    <script>
        console.log("{{.print_art}}")
    </script>
  </body>
</html>
