<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    {% for css in vite("src/main.ts").CSS %}
      <link rel="stylesheet" crossorigin href="{{css}}" />
    {% endfor %}
    <script src="{{vite("src/main.ts").JS}}" type="module"></script>
      {% block head %} {% endblock head %}
  </head>
  <body>
    {% block content %}{% endblock content %} 
    {% autoescape on %}
    <script>
      console.log("WELCOME");
    </script>
    {% endautoescape %}
  </body>
</html>
