@use "variabel/navbar";
@use "mixin" as mixin;
.navbar {
  position: sticky;
  top: 0;
  z-index: 9999;
  background: var(--color-overlay-background);
  backdrop-filter: blur(5px);
  height: navbar.$navbar_height;
  box-sizing: border-box;
  color: var(--color-text-var);
  &__wrapper {
    display: flex;
    padding-inline: 1.4rem;
    align-items: center;
    height: navbar.$navbar_height;
  }
  &__brand {
    font-size: 1.2em;
    color: var(--color-text-var);
    font-weight: 500;
    user-select: none;
  }
  &__right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  &__link {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--color-primary);
    display: inline-block;
    color: var(--color-text);
    padding-inline: 12px;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding-block: 10px;
    &:hover {
      background-color: var(--color-surface-container-high);
    }
    &:active {
      color: var(--color-text-var);
    }
  }
  @include mixin.responsive("md") {
    padding-inline: 8.4rem;
  }
  a {
    text-decoration: none;
  }
}
